<!-- <div class="ui-g">

  <div class="ui-g-4"></div>

  <div class="ui-g-4">
    <div class="ui-g">
      <div class="ui-g-6 section">
        <img [src]="channel.avatar" alt="{{ channel.name }}">
      </div>
      <div class="ui-g-6">
        <div class="channel-name">{{ channel.name }}</div>
        <div>Followers : {{ channel.followers }}</div>
        <div *ngIf="channel.partner === true; else notPartner">
          Partner: Oui
        </div>
        <ng-template #notPartner>
          <ng-container *ngIf="channel.affiliate === true; else notAffiliate">
            Affiliate: yes
          </ng-container>
        </ng-template>
        <ng-template #notAffiliate>
          Affiliate: no
        </ng-template>
        <div>
            <a href="{{ channel.url }}" target="_blank">Go to Twitch channel </a>
          </div>
      </div>
      <div class="ui-g-12 section">

        <div class="tags-title">TAGS <span class="tags-subtitle">Click on a tag to endorse it</span></div>
        
        <div *ngIf="seeMoreTags === false; else seeMore">
          <ng-container *ngFor="let tag of (tags | limitTag:4)">
            <app-tag [tag]="tag"></app-tag>
          </ng-container>
        </div>
        <ng-template #seeMore>
          <div>
            <ng-container *ngFor="let tag of tags">
              <app-tag [tag]="tag"></app-tag>
            </ng-container>
          </div>
        </ng-template>
        <a *ngIf="tags.length > 4" (click)="toggleTags()" class="see-more">See more</a>
      </div>
      <div class="ui-g-12">
        Want to add a tag to this channel ?
        <div class="add-tag">
          <input type="text" size="30">
          <button p-button type="button">Submit</button>
        </div>
        <a (click)="goToSubmitTag()" class="small">Don't find the tag you are looking for ? Submit a new one here!</a>
      </div>
    </div>
  </div>

  <div class="ui-g-4"></div>

</div> -->

<div class="container profile">
  <div class="columns">
    <div class="column is-half">
      <img [src]="channel.avatar" alt="{{ channel.name }}">
    </div>
    <div class="column is-half">
      <div class="is-vcentered">
          <div class="channel-name">{{ channel.name }}</div>
          <div>Followers : {{ channel.followers }}</div>
          <div *ngIf="channel.partner === true; else notPartner">
            Partner: Oui
          </div>
          <ng-template #notPartner>
            <ng-container *ngIf="channel.affiliate === true; else notAffiliate">
              Affiliate: yes
            </ng-container>
          </ng-template>
          <ng-template #notAffiliate>
            Affiliate: no
          </ng-template>
          <div>
            <a href="{{ channel.url }}" target="_blank">Go to Twitch channel </a>
          </div>
      </div>
      
    </div>
  </div>
  <div class="columns">
    <div class="column is-12">
      <div class="tags-title">TAGS
        <span class="tags-subtitle">Click on a tag to endorse it</span>
      </div>

      <div *ngIf="seeMoreTags === false; else seeMore">
        <div class="field is-grouped is-grouped-multiline">
          <div class="control" *ngFor="let tag of (tags | limitTag:5)">
            <app-tag [tag]="tag"></app-tag>
          </div>
        </div>

      </div>
      <ng-template #seeMore>
          <div class="field is-grouped is-grouped-multiline">
              <div class="control" *ngFor="let tag of tags">
                <app-tag [tag]="tag"></app-tag>
              </div>
            </div>
      </ng-template>
      <a *ngIf="tags.length > 5" (click)="toggleTags()" class="see-more">See more</a>
    </div>
  </div>
  <div class="columns">
    <div class="column is-12">
      <div class="add-tag-title">
        Want to add a tag to this channel ?
      </div>
      <div>
        <input type="text" size="30">
        <button p-button type="button">Submit</button>
      </div>
      <a (click)="goToSubmitTag()" class="add-tag-subtitle">Don't find the tag you are looking for ? Submit a new one here!</a>
    </div>
  </div>
</div>