<nav class="navbar header">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/index">TwitchTags</a>
    <div class="navbar-burger burger" data-target="navbarLinks">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarLinks" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLinkActive="active-link" routerLink="/submitchannel">Submit a new channel</a>
      <a class="navbar-item" routerLinkActive="active-link" routerLink="/submittag">Submit a new tag</a>
    </div>

    <div class="navbar-end">
        <a class="navbar-item" routerLinkActive="active-link" routerLink="/signin">Sign in</a>
        <a class="navbar-item" routerLinkActive="active-link" routerLink="/signup">Sign up</a>

    </div>
  </div>
</nav>
