<div class="ui-g">
  <div class="ui-g-4"></div>
  <div class="ui-g-4">
    <h2>Sign in</h2>
    
      <span class="ui-float-label">
        <input id="float-input" type="text" pInputText>
        <label for="float-input">Username</label>
      </span>
      <span class="ui-float-label">
        <input id="float-input" type="text" pInputText>
        <label for="float-input">Password</label>
      </span>
      <button p-button type="button" label="Log in">Login</button>
      <p>
        <a (click)="goToSignup()" >No account ? Sign up!</a> |
        <a (click)="goToForgottenPassword()">Forgot your password ? </a>
      </p>
    
  </div>
  <div class="ui-g-4"></div>
</div>