<!-- <div class="ui-g search-container">
  <div class="ui-g-3">
  </div>

  <div class="search" class="ui-g-6">

    <div class="ui-g">
      <div class="ui-g-10">
          <p-autoComplete class="ui-fluid" [(ngModel)]="brand" [suggestions]="filteredCountries" (completeMethod)="filterCountries($event)"
          styleClass="wid100" [minLength]="1" [dropdown]="true" [multiple]="true"></p-autoComplete>
        
      </div>
      <div class="ui-g-2">
          <button pButton type="button" label="Search"></button>
      </div>
    </div> -->

    <!-- <p-autoComplete class="search" [(ngModel)]="brand" [suggestions]="filteredCountries" (completeMethod)="filterCountries($event)"
      [size]="30" [minLength]="1" placeholder="Hint: type 'v' or 'f'" [dropdown]="true" [multiple]="true"></p-autoComplete>
    <button pButton type="button" label="Search"></button> -->
<!-- 
  </div>

  <div class="ui-g-3">
  </div>

</div> -->

search !

<app-result></app-result>