<div class="ui-g">
  <div class="ui-g-4"></div>
  <div class="ui-g-4">
    <h2>You can't remember your password ?</h2>
    <p>
        We will send you an email with a temporary password to log you in. Don't forget to change it once you are connected.
      <span class="ui-float-label">
        <input id="float-input" type="text" pInputText>
        <label for="float-input">Username/Email</label>
      </span>
      <button p-button type="button" label="Log in">Send</button>
    </p>
  </div>
  <div class="ui-g-4"></div>
</div>