<div class="ui-g">
  <div class="ui-g-4"></div>
  <div class="ui-g-4">
    <h2>Sign Up</h2>
    
      <span class="ui-float-label">
        <input id="float-input" type="text" pInputText>
        <label for="float-input">Username</label>
      </span>
      <span class="ui-float-label">
        <input id="float-input" type="text" pInputText>
        <label for="float-input">Email</label>
      </span>
      <span class="ui-float-label">
        <input id="float-input" type="text" pInputText>
        <label for="float-input">Password</label>
      </span>
      <span class="ui-float-label">
        <input id="float-input" type="text" pInputText>
        <label for="float-input">Confirm Password</label>
      </span>
      <button p-button type="button" label="Log in">Sign Up</button>
      <p>
        <a (click)="goToLogin()">Already have an account ? Sign in!</a>
      </p>
    
  </div>
  <div class="ui-g-4"></div>
</div>