<div class="ui-g">
	<div class="ui-g-3">
	</div>

	<div class="ui-g-6">

		<h2 class="title">Submit a new tag</h2>
			
		<input id="input" type="text" size="30" pInputText [(ngModel)]="submittedTag"> 
		<br>
		<button pButton type="button" label="Submit" (click)="submitTag($event)"></button>
		<div class="submitTagDetails">
			<p>Here you can submit a tag if you did not find the one you were looking for.
			Please don't submit hateful, racist, homophobic, or otherwise socially derogatory words.</p>
			<p>After submitting a tag, you will be able to find it in the list of tags under the channel profile. All newly submitted tags will be reviewed to make sure that it follows the rules.</p>
		</div>

	</div>

	<div class="ui-g-3">
	</div>

</div>