<div class="container">
  <div class="columns">
    <div class="column"></div>
    <div class="column is-half">

      <h2 class="title">Submit a new tag</h2>

      <div class="field has-addons">
        <div class="control is-expanded">
          <input class="input" id="input" type="text" placeholder="Type tag name here" [(ngModel)]="submittedTag" [ngClass]="{'is-danger': tagAlreadyExist}">
        </div>
        <div class="control">
          <a class="button is-info" (click)="submitTag($event)">
            Submit
          </a>
        </div>
      </div>
      <div class="notification is-danger" *ngIf="tagAlreadyExist">
        <button class="delete" (click)="toggleTagAlreadyExists()"></button>
        This tag already exists!
      </div>
      <br>
      <div class="submitTagDetails has-text-justified">
        <p>Here you can submit a tag if you did not find the one you were looking for.
          Please don't submit hateful, racist, homophobic, or otherwise socially derogatory words.</p>
        <p>After submitting a tag, you will be able to find it in the list of tags under the channel profile. All newly submitted tags will be reviewed to make sure that it follows the rules.</p>
      </div>
    </div>
    <div class="column"></div>
  </div>
</div>



