.title {
	text-align: center;
	margin-bottom: 100px;
}

input {
	display: block;
	margin: 0 auto;
}

button {
	display: block;
	margin: 0 auto;
}

.submitTagDetails {
	margin-top: 50px;
	font-size: 0.75em;
}